<main class="container">
  <header>
    <h1>{{ appName }}</h1>

    <p>
      Projecte de Yoel Martí Solé per facilitar l’adopció
      d’animals i ajudar-los a trobar una llar.
    </p>
  </header>

  <div class="content">
    <section class="project-card" aria-labelledby="project-title">
      <h2 id="project-title">Dades del projecte</h2>

      <p><strong>Aplicació:</strong> {{ appName }}</p>
      <p><strong>Autor:</strong> Yoel Martí Solé</p>
      <p><strong>Temàtica:</strong> Adopció d’animals</p>
      <p><strong>Tecnologia:</strong> Angular amb SCSS</p>

      <p class="status">Projecte base llest</p>
    </section>

    <aside>
      <h2>Una nova oportunitat</h2>
      <p>
        Cada animal mereix una llar. Huellas creix per ajudar-los
  a trobar una família.
      </p>
    </aside>
  </div>
</main>
<router-outlet/>